<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <clear />
            <add name="Cmd CGI" path="*.cmd" verb="*" type="" modules="CgiModule" scriptProcessor="C:\Windows\System32\cmd.exe /c &quot;%s&quot;" resourceType="File" requireAccess="Script" allowPathInfo="false" preCondition="" responseBufferLimit="4194304" />
            <add name="PowerShell 7 CGI" path="*.pwsh.ps1" verb="*" type="" modules="CgiModule" scriptProcessor="C:\inetpub\bin\CGIwrap.exe pwsh.exe -NoLogo -NoProfile -NonInteractive -File &quot;%s&quot;" resourceType="File" requireAccess="Script" allowPathInfo="false" preCondition="" responseBufferLimit="4194304" />
            <add name="PowerShell 5 CGI" path="*.ps1" verb="*" type="" modules="CgiModule" scriptProcessor="C:\inetpub\bin\CGIwrap.exe powershell.exe -NoLogo -NoProfile -NonInteractive -File &quot;%s&quot;" resourceType="File" requireAccess="Script" allowPathInfo="false" preCondition="" responseBufferLimit="4194304" />
            <add name="StaticFile PNG" path="*.png" verb="*" type="" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" scriptProcessor="" resourceType="Either" requireAccess="Read" allowPathInfo="false" preCondition="" responseBufferLimit="4194304" />
            <add name="PowerShell 5 CGI wildcard" path="*" verb="*" type="" modules="CgiModule" scriptProcessor="C:\inetpub\bin\CGIwrap.exe powershell.exe -NoLogo -NoProfile -NonInteractive -File &quot;index.ps1&quot;" resourceType="Unspecified" requireAccess="Script" allowPathInfo="false" preCondition="" responseBufferLimit="4194304" />
        </handlers>
        <cgi createCGIWithNewConsole="true" />
    </system.webServer>
</configuration>
